.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('imagenes/intro-brutal.png');
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-link {
    /*distancia referente arriba*/
    margin-top: 5px;
    /*Color de letras*/
    color: #FFFFFF;
}

.fondo:hover {
    /*Fondo*/
    background-color: #c8ff00;
    /*Color de letras*/
    color: #000000;
}

.electrolize {

    font-family: Electrolize;
}

.distancia-derecha {
    margin-right: 40px;

}

.letra-grande {
    font-size: 70px;
}

.letra-mediana {
    font-size: 25px;
}

.color-brutal {
    color: #c8ff00;
}

.fondo-negro{

     background-color: #000000;
}

.letra-blanca{
    /*Color de letras*/
    color: #ffffff;
}

.letra-verde{
    /*Color de letras*/
    color: #c8ff00;
}

.texto-justificado{
    text-align: justify;
}
